
.login_title h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login_title h5 {
    line-height: 26px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.form_group {
    margin-bottom: 1rem;
}

.login_label {
    margin-bottom:0.5rem;
    vertical-align:middle;
    font-weight: 400;
    color: #333;
    text-transform: capitalize;
    font-size: 15px;
}

.login_input {
    height: 50px;
    padding: 15px 10px;
    width: 100%;
    background: #f6f6f6;
    border: 1px solid #ced4da;
    color: #495057;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* font-size: 16px; */
}

.login_input:focus {
    color: #495057;
    background: #fff;
    border: 1px solid #ccc;
}

.login_btn {
    margin-top: 20px;
    width: inherit;
    height: inherit;
    padding: 10px 30px;
    transition: all 0.3s ease-in 0s;
    background: #333;
    color: #fff;
    border: medium none;
    text-transform: uppercase;
    font-weight: 500;
    text-align:;
}

.login_btn {}

.login_btn:hover {
    background: #1a1a1a;
}

.logout_area p {
    font-size: 18px;
    padding: 7px 0;
    font-weight: 500;
    color: #212529;
    margin-bottom: 0.5rem;
}

.singin_req {
    color: #cc0000;
    margin-right: 5px;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.6;
}

.login_title p {padding: 7px 0;font-size: 18px;color: #212529;margin-bottom: 0.5rem;}
