@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
* {
    margin: 0;
    padding: 0;
}

body {
    color: #666;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;

}

.font {
    
font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}
p{
    margin: 0;
    padding: 0;
}
h1,
h2,
h4,h3,h5{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif
    color: #363f4d;
}

.content {
    width: 100%;
    height: 100%;
    display: table;
}

.content-cell {
    display: table-cell;
    vertical-align: middle;
}

.backgr_css {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

:after,
:before {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.container:after {
    position: relative;
    content: "";
    clear: both;
    display: table;
}

.sectionp {
    padding: 70px 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none !important;
}

a:hover{
    color: #111111;
}
/*js css*/

.btnn {
    width: 150px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    transition: 0.4s;
    border-radius: 10px;
    background: #26d0e2;
    border: 1px #26d0e2;
    position:  relative;
    transition:  0.3s all ease-in-out;
}

.btnn:hover {
    background: #fff;
    color: #26d0e2;
    /* text-transform: uppercase; */
}


a:focus{
    outline: none !important;
}
/*map*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
text-transform: capitalize;
font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
text-transform: capitalize;
font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
text-transform: capitalize;
font-size: 14px;
}